# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods / Carthage (not used yet, but pre-empted)
Pods/
Carthage/Build/
